.line {
    position: relative;
    margin-top: -1.5rem;
}

.shape-line {
    position: absolute;
    pointer-events: none;
    right: 0;
    bottom: 0;
    left: 0;
    color: #f1f4f8!important;
    transform: scale(2);
    transform-origin: top center;
}